
        body {
            font-family: 'Roboto Condensed', sans-serif;
            font-size: 10px;
            color: #0C3F52;
            background-color: #C0D8E0;
        }

        h1 {
            font-size: 13mm;
            color: #0C3F52;
        }

        .photo-3-slide {
            width: 184px;
            height: 233px;
            position: absolute;
            left: 228px;
            top: 913px;
            border: 1mm solid #0C3F52;
        }

        .text-3-slide {
            width: 179px;
            height: 155px;
            position: absolute;
            left: 19px;
            top: 958px;
            border: 1mm solid #0C3F52;
        }

        .photo-4-slide {
            width: auto;
            height: auto;
            position: absolute;
            left: 36px;
            top: 1259px;
            border: 1mm solid #0C3F52;
        }
        .training-equipment {
            text-align: right;
            margin-right: 20px; /* Отступ от правого края */
        }
        .AT-OUR-SURF-SCHOOL-YOU-WILL-RECEIVE{
            width: 257.38px;
            height: 34.43px;
            top: 642px;
            left: 89px;
            gap: 0px;
            opacity: 0px;
            font-family: Roboto Condensed;
            font-size: 13px;
            font-weight: 400;
            line-height: 15.23px;
            text-align: center;
            background: rgba(12, 63, 82, 1);

        }
        .ACCOMMODATION{
            width: 106.74px;
            height: 17.21px;
            top: 710.67px;
            left: 24px;
            gap: 0px;
            opacity: 0px;
            font-family: Roboto Condensed;
            font-size: 12px;
            font-weight: 400;
            line-height: 14.06px;
            text-align: center;
            background: rgba(12, 63, 82, 1);

        }
        .FLIGHT-AND-INSURANCE{
            width: 65px;
            height: 28px;
            top: 706.62px;
            left: 177.68px;
            gap: 0px;
            opacity: 0px;
            font-family: Roboto Condensed;
            font-size: 12px;
            font-weight: 400;
            line-height: 14.06px;
            text-align: center;
            background: rgba(12, 63, 82, 1);

        }
        .CONQUER-THE-PEAKS{
            width: 130.19px;
            height: 30.02px;
            top: 943px;
            left: 43px;
            gap: 0px;
            opacity: 0px;
            font-family: Roboto Condensed;
            font-size: 13px;
            font-weight: 400;
            line-height: 15.23px;
            text-align: center;
            background: rgba(12, 63, 82, 1);

        }
        
        